>>> import sys
>>> sys.executable
'/usr/local/opt/python/bin/python3.7'

In [1]:
import sys
sys.executable

'/usr/local/opt/python/bin/python3.7'

In [4]:
!pip3 install ufal.udpipe

Requirement already satisfied: ufal.udpipe in /usr/local/lib/python3.7/site-packages (1.2.0.1)

In [2]:
import progressbar

In [3]:
import pandas as pd
import json

In [4]:
def lower(text):
    lower_text = ''
    for word in text.split():
        w = word.lower()
        lower_text += w + ' '
    lower_text = lower_text.strip()
    return lower_text

In [5]:
with open('./texts/texts_lleo.json') as json_file:  
    text = []
    set_name = []
    data = json.load(json_file)
    for data_i in data:
        text.append(data_i['text'])
        set_name.append(data_i['name'])
text_level = pd.DataFrame(
    {'text': text,
     'set_name': set_name
    })
text_level['set_name'] = text_level['set_name'].apply(lower)
text_level.head()

,set_name,text
0,the adventures of tom sawyer part 1,"""Tom!"" No answer.\n""TOM!"" No answer.\nThe old ..."
1,the adventures of tom sawyer part 1,The summer evenings were long. Tom walked alon...
2,the adventures of tom sawyer part 1,Tom appeared in front of the house with paint ...
3,the adventures of tom sawyer part 1,Tom began to think of the pleasure planned for...
4,the adventures of tom sawyer part 1,Tom gave the brush to Ben and he painted the f...

In [6]:
level_interpret = {'Elementary':0, 'PreIntermediate':1, 'Intermediate':2, 'UpperIntermediate':3, 'Advanced':4}

In [7]:
def assign_level(name):
    if name in name_dict:
        return level_interpret[name_dict[name]]
    else:
        return None

In [ ]:
text_level['level'] = text_level['set_name'].apply(assign_level)
text_level.head()

In [ ]:
text_level.info(0)

In [ ]:
text_level_no_nan = text_level.dropna()
text_level_no_nan.info()

In [2]:
from calculate_level_new import get_features_from_raw_text

In [ ]:
text_features = []
text_ind = 0
for text in text_level_no_nan['text']:
    bar = progressbar.ProgressBar(maxval=len(text_level_no_nan['text']),
                                  widgets=[progressbar.Bar('=', '[', ']'), ' ', progressbar.Percentage()])
    bar.start()
    
    
    text_features.append()
    
    text_ind += 1
    bar.update(text_ind)
    time.sleep(0.1)

In [8]:
set_level_df = pd.read_csv("./texts/set_level.csv", sep = ",")
set_level_df['set'] = set_level_df['set'].apply(lower)
set_level_df.head()

                               set            level
0          everyday life stories 1       Elementary
1                       pocahontas       Elementary
2                       robin hood       Elementary
3             the call of the wild       Elementary
4  around the world in eighty days  PreIntermediate

In [9]:
name_dict = pd.Series(set_level_df.level.values,index=set_level_df.set).to_dict()
name_dict

{'a little princess': 'PreIntermediate',
 'alice in wonderland': 'Intermediate',
 'anecdotes and real-life stories part 1': 'Intermediate',
 'anecdotes and real-life stories part 2': 'Intermediate',
 'anne of green gables': 'Intermediate',
 'around the world in eighty days': 'PreIntermediate',
 'art': 'UpperIntermediate',
 'britain': 'Intermediate',
 'business': 'Advanced',
 "charlotte's web": 'PreIntermediate',
 'countries of the world': 'Advanced',
 'detective stories': 'PreIntermediate',
 'different stories': 'Advanced',
 'education': 'Advanced',
 'everyday life stories 1': 'Elementary',
 'everyday life stories 2': 'UpperIntermediate',
 'exploring space': 'PreIntermediate',
 'facts about britain': 'Intermediate',
 'family': 'Advanced',
 'folktales': 'PreIntermediate',
 'food': 'Advanced',
 'health': 'Advanced',
 'heroes in fairy tales': 'PreIntermediate',
 'history': 'Advanced',
 'home': 'Advanced',
 'in the news': 'Advanced',
 'inventions': 'Advanced',
 'james bond part 1': 'UpperIntermediate',
 'james bond part 2': 'UpperIntermediate',
 'james bond part 3': 'UpperIntermediate',
 'james bond part 4': 'UpperIntermediate',
 'learning languages': 'Advanced',
 'lifestyle': 'Advanced',
 'london': 'Intermediate',
 'make it digital': 'Advanced',
 'manchester united': 'UpperIntermediate',
 'movies': 'Advanced',
 'music': 'Advanced',
 'myths and legends': 'Intermediate',
 'notes from an english farm': 'Advanced',
 'nutrition': 'Advanced',
 "o'henry part 1": 'Intermediate',
 "o'henry part 2": 'Intermediate',
 "o'henry part 3": 'Intermediate',
 "o'henry part 4": 'Intermediate',
 "o'henry part 5": 'Intermediate',
 'personal technology': 'Advanced',
 'persuasion': 'Intermediate',
 'peter pan part 1': 'Intermediate',
 'peter pan part 2': 'Intermediate',
 'peter pan part 3': 'Intermediate',
 'peter pan part 4': 'Intermediate',
 'peter pan part 5': 'Intermediate',
 'pets': 'Advanced',
 'planet earth': 'UpperIntermediate',
 'pocahontas': 'Elementary',
 'politics & economy': 'Advanced',
 'quirky news': 'UpperIntermediate',
 'robin hood': 'Elementary',
 'robinson crusoe': 'Intermediate',
 'science in news': 'Advanced',
 'self': 'Advanced',
 'short stories': 'UpperIntermediate',
 'sport': 'Advanced',
 'stories': 'Advanced',
 'stories for great holidays': 'UpperIntermediate',
 'studying abroad': 'UpperIntermediate',
 'technology part 1': 'Advanced',
 'technology part 2': 'Advanced',
 'teens talk': 'UpperIntermediate',
 'the adventures of huckleberry finn': 'UpperIntermediate',
 'the adventures of sherlock holmes': 'UpperIntermediate',
 'the adventures of tom sawyer part 1': 'PreIntermediate',
 'the adventures of tom sawyer part 2': 'PreIntermediate',
 'the call of the wild': 'Elementary',
 'the count of monte cristo': 'Intermediate',
 'the great people': 'Advanced',
 'the memoirs of sherlock holmes': 'Advanced',
 'the secret garden': 'UpperIntermediate',
 'the thirty-nine steps part 1': 'UpperIntermediate',
 'the thirty-nine steps part 2': 'UpperIntermediate',
 'the woman in black': 'PreIntermediate',
 'travel tips': 'UpperIntermediate',
 'travel to the uk': 'Advanced',
 'traveling part 1': 'Advanced',
 'traveling part 2': 'Advanced',
 'traveling part 3': 'Advanced',
 'views of the americas': 'Advanced',
 'wildlife wonders': 'UpperIntermediate',
 'work and career': 'Advanced'}

In [10]:
set_names_from_db = set(text_level['set_name'])
len(set_names_from_db)

91

In [ ]:
set_names_from_db

In [ ]:
set_names_from_gd = set(set_level_df['set'])
len(set_names_from_gd)

In [ ]:
set_names_from_gd

In [ ]:
'charlotte’s web' in set_names_from_gd

In [ ]:
"charlotte's web" in set_names_from_gd

In [ ]:
set_names_from_db - set_names_from_gd

In [ ]:
text_level['text'][0]

In [ ]:
from calculate_level_new import get_level_from_raw_text

In [ ]:
get_level_from_raw_text(text_level['text'][0])

In [ ]:
text_level['calculated_level'] = text_level['text'].apply(get_level_from_raw_text)

In [ ]:
text_level.info()