In [5]:
import pandas as pd

In [ ]:
df = pd.read_csv("./texts/texts_lleo.csv", sep = ";")
df.head()

In [3]:
import json

In [47]:
def lower(text):
    lower_text = ''
    for word in text.split():
        w = word.lower()
        lower_text += w + ' '
    lower_text = lower_text.strip()
    return lower_text

In [62]:
with open('./texts/texts_lleo.json') as json_file:  
    text = []
    set_name = []
    data = json.load(json_file)
    for data_i in data:
        text.append(data_i['text'])
        set_name.append(data_i['name'])
text_level = pd.DataFrame(
    {'text': text,
     'set_name': set_name
    })
text_level['set_name'] = text_level['set_name'].apply(lower)
text_level.head()

,text,set_name
0,"""Tom!"" No answer.\n""TOM!"" No answer.\nThe old ...",the adventures of tom sawyer part 1
1,The summer evenings were long. Tom walked alon...,the adventures of tom sawyer part 1
2,Tom appeared in front of the house with paint ...,the adventures of tom sawyer part 1
3,Tom began to think of the pleasure planned for...,the adventures of tom sawyer part 1
4,Tom gave the brush to Ben and he painted the f...,the adventures of tom sawyer part 1

In [94]:
set_level_df = pd.read_csv("./texts/set_level.csv", sep = ",")
set_level_df['set'] = set_level_df['set'].apply(lower)
set_level_df.head()

                               set            level
0          everyday life stories 1       Elementary
1                       pocahontas       Elementary
2                       robin hood       Elementary
3             the call of the wild       Elementary
4  around the world in eighty days  PreIntermediate

In [86]:
set_names_from_db = set(text_level['set_name'])
len(set_names_from_db)

91

In [87]:
set_names_from_db

{'a little princess',
 'alice in wonderland',
 'anecdotes and real-life stories part 1',
 'anecdotes and real-life stories part 2',
 'anne of green gables',
 'around the world in eighty days',
 'art',
 'britain',
 'business',
 "charlotte's web",
 'countries of the world',
 'detective stories',
 'different stories',
 'education',
 'everyday life stories 1',
 'everyday life stories 2',
 'exploring space',
 'facts about britain',
 'family',
 'folktales',
 'food',
 'health',
 'heroes in fairy tales',
 'history',
 'home',
 'in the news',
 'inventions',
 'james bond part 1',
 'james bond part 2',
 'james bond part 3',
 'james bond part 4',
 'learning languages',
 'lifestyle',
 'london',
 'make it digital',
 'manchester united',
 'movies',
 'music',
 'myths and legends',
 'notes from an english farm',
 'nutrition',
 "o'henry part 1",
 "o'henry part 2",
 "o'henry part 3",
 "o'henry part 4",
 "o'henry part 5",
 'personal technology',
 'persuasion',
 'peter pan part 1',
 'peter pan part 2',
 'peter pan part 3',
 'peter pan part 4',
 'peter pan part 5',
 'pets',
 'planet earth',
 'pocahontas',
 'politics & economy',
 'quirky news',
 'robin hood',
 'robinson crusoe',
 'science in news',
 'self',
 'short stories',
 'sport',
 'stories',
 'stories for great holidays',
 'studying abroad',
 'technology part 1',
 'technology part 2',
 'teens talk',
 'the adventures of huckleberry finn',
 'the adventures of sherlock holmes',
 'the adventures of tom sawyer part 1',
 'the adventures of tom sawyer part 2',
 'the call of the wild',
 'the count of monte cristo',
 'the great people',
 'the memoirs of sherlock holmes',
 'the scarlet letter',
 'the secret garden',
 'the thirty-nine steps part 1',
 'the thirty-nine steps part 2',
 'the woman in black',
 'travel tips',
 'travel to the uk',
 'traveling part 1',
 'traveling part 2',
 'traveling part 3',
 'views of the americas',
 'wildlife wonders',
 'work and career'}

In [95]:
set_names_from_gd = set(set_level_df['set'])
len(set_names_from_gd)

90

In [89]:
set_names_from_gd

{'a little princess',
 'alice in wonderland',
 'anecdotes and real-life stories part 1',
 'anecdotes and real-life stories part 2',
 'anne of green gables',
 'around the world in eighty days',
 'art',
 'britain',
 'business',
 'charlotte’s web',
 'countries of the world',
 'detective stories',
 'different stories',
 'education',
 'everyday life stories 1',
 'everyday life stories 2',
 'exploring space',
 'facts about britain',
 'family',
 'folktales',
 'food',
 'health',
 'heroes in fairy tales',
 'history',
 'home',
 'in the news',
 'inventions',
 'james bond part 1',
 'james bond part 2',
 'james bond part 3',
 'james bond part 4',
 'learning languages',
 'lifestyle',
 'london',
 'make it digital',
 'manchester united',
 'movies',
 'music',
 'myths and legends',
 'notes from an english farm',
 'nutrition',
 'o’henry part 1',
 'o’henry part 2',
 'o’henry part 3',
 'o’henry part 4',
 'o’henry part 5',
 'personal technology',
 'persuasion',
 'peter pan part 1',
 'peter pan part 2',
 'peter pan part 3',
 'peter pan part 4',
 'peter pan part 5',
 'pets',
 'planet earth',
 'pocahontas',
 'politics & economy',
 'quirky news',
 'robin hood',
 'robinson crusoe',
 'science in news',
 'self',
 'short stories',
 'sport',
 'stories',
 'stories for great holidays',
 'studying abroad',
 'technology part 1',
 'technology part 2',
 'teens talk',
 'the adventures of huckleberry finn',
 'the adventures of sherlock holmes',
 'the adventures of tom soyer part 1',
 'the adventures of tom soyer part 2',
 'the call of the wild',
 'the count of monte cristo',
 'the great people',
 'the memoirs of sherlock holmes',
 'the secret garden',
 'the thirty-nine steps part 1',
 'the thirty-nine steps part 2',
 'the woman in black',
 'travel tips',
 'travel to the uk',
 'traveling part 1',
 'traveling part 2',
 'traveling part 3',
 'views of the americas',
 'wildlife wonders',
 'work and career'}

In [69]:
'charlotte’s web' in set_names_from_gd

True

In [70]:
"charlotte's web" in set_names_from_gd

False

In [96]:
set_names_from_db - set_names_from_gd

{'the scarlet letter'}

In [8]:
text_level['text'][0]

'"Tom!" No answer.\n"TOM!" No answer.\nThe old lady looked around the room.\n"When I find you, I—" She did not finish. With her head down, she was looking under the bed. Only the cat came out.\nThere was a little noise behind her. She turned and caught a small boy, stopping him before he could escape.\n"What were you doing in that corner?" "Nothing." "Nothing! What is that on your hands and face?" "You have been eating sweets. I have told you a hundred times not to eat those sweets." Her hand was raised in the air—it started down—it was very near— "Oh! Look behind you, Aunt!" The old lady turned. The boy ran. In a moment he was up on the high board fence. Then he was on the far side of it. Aunt Polly was surprised. Then she laughed a little.'

In [1]:
from calculate_level_new import get_level_from_raw_text

In [9]:
get_level_from_raw_text(text_level['text'][0])

'A2'

In [17]:
text_level['calculated_level'] = text_level['text'].apply(get_level_from_raw_text)

In [ ]:
text_level.info()