In [1]:
import sys
sys.executable

'/usr/local/opt/python/bin/python3.7'

In [2]:
from calculate_level_new import get_features_from_raw_text

In [21]:
import progressbar
import pandas as pd
import time 
import json
import numpy as np

In [4]:
def lower(text):
    lower_text = ''
    for word in text.split():
        w = word.lower()
        lower_text += w + ' '
    lower_text = lower_text.strip()
    return lower_text

with open('./texts/texts_lleo.json') as json_file:  
    text = []
    set_name = []
    data = json.load(json_file)
    for data_i in data:
        text.append(data_i['text'])
        set_name.append(data_i['name'])
text_level = pd.DataFrame(
    {'text': text,
     'set_name': set_name
    })
text_level['set_name'] = text_level['set_name'].apply(lower)
text_level.head()

,text,set_name
0,"""Tom!"" No answer.\n""TOM!"" No answer.\nThe old ...",the adventures of tom sawyer part 1
1,The summer evenings were long. Tom walked alon...,the adventures of tom sawyer part 1
2,Tom appeared in front of the house with paint ...,the adventures of tom sawyer part 1
3,Tom began to think of the pleasure planned for...,the adventures of tom sawyer part 1
4,Tom gave the brush to Ben and he painted the f...,the adventures of tom sawyer part 1

In [5]:
set_level_df = pd.read_csv("./texts/set_level.csv", sep = ",")
set_level_df['set'] = set_level_df['set'].apply(lower)
set_level_df.head()

                               set            level
0          everyday life stories 1       Elementary
1                       pocahontas       Elementary
2                       robin hood       Elementary
3             the call of the wild       Elementary
4  around the world in eighty days  PreIntermediate

In [6]:
name_dict = pd.Series(set_level_df.level.values,index=set_level_df.set).to_dict()

level_interpret = {'Elementary':0, 'PreIntermediate':1, 'Intermediate':2, 'UpperIntermediate':3, 'Advanced':4}

In [7]:
def assign_level(name):
    if name in name_dict:
        return level_interpret[name_dict[name]]
    else:
        return None

text_level['level'] = text_level['set_name'].apply(assign_level)
text_level_no_nan = text_level.dropna()
text_level_no_nan.head()

,text,set_name,level
0,"""Tom!"" No answer.\n""TOM!"" No answer.\nThe old ...",the adventures of tom sawyer part 1,1.0
1,The summer evenings were long. Tom walked alon...,the adventures of tom sawyer part 1,1.0
2,Tom appeared in front of the house with paint ...,the adventures of tom sawyer part 1,1.0
3,Tom began to think of the pleasure planned for...,the adventures of tom sawyer part 1,1.0
4,Tom gave the brush to Ben and he painted the f...,the adventures of tom sawyer part 1,1.0

In [8]:
text_features = []
text_ind = 0
for text in text_level_no_nan['text']:
    bar = progressbar.ProgressBar(maxval=len(text_level_no_nan['text']),
                                  widgets=[progressbar.Bar('=', '[', ']'), ' ', progressbar.Percentage()])
    bar.start()
    
    txt_ft = get_features_from_raw_text(text)
    text_features.append(txt_ft)
    
    text_ind += 1
    bar.update(text_ind)
    time.sleep(0.1)

In [9]:
text_features[0]

[0.6666666666666666,
 0.26666666666666666,
 0.05277777777777778,
 0.013888888888888888,
 0.0,
 0.125,
 0.0,
 0.041666666666666664,
 0.08333333333333333,
 0.0,
 0.041666666666666664,
 0.0,
 0.0,
 0.5833333333333334,
 0.0,
 0.0,
 0.0,
 0.041666666666666664,
 0.0,
 0.041666666666666664,
 0.0,
 0.0,
 0.0,
 0.0,
 0.041666666666666664,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [13]:
len(text_features), len(text_level_no_nan['level'])

(3732, 3732)

In [14]:
data = pd.DataFrame(
    {'features': text_features,
     'level': text_level_no_nan['level'],
    })

In [15]:
data.head()

                                            features  level
0  [0.6666666666666666, 0.26666666666666666, 0.05...    1.0
1  [0.5833333333333334, 0.19166666666666668, 0.13...    1.0
2  [0.5911764705882353, 0.25588235294117645, 0.07...    1.0
3  [0.6242937853107344, 0.2231638418079096, 0.084...    1.0
4  [0.6666666666666666, 0.14432989690721648, 0.07...    1.0

In [25]:
from sklearn.datasets import load_iris

In [42]:
X, y = load_iris(return_X_y=True)
type(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [54]:
X = np.array(data['features'])
y = np.array(data['level'])
type(X),len(X),len(y)

(numpy.ndarray, 3732, 3732)

In [17]:
from sklearn.linear_model import LogisticRegressionCV

In [47]:
clf = LogisticRegressionCV(cv=5, random_state=0,
                           multi_class='multinomial').fit(X, y)
clf.predict(X[:2, :])

clf.predict_proba(X[:2, :]).shape

clf.score(X, y)

ValueError: Found input variables with inconsistent numbers of samples: [32, 3732]